<!DOCTYPE html>
<html lang="en"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		<div th:fragment="sidebar">
			<div class="sidebar d-flex flex-column p-3 border-end">
				<h4 class="text-center">Michael Bailey</h4>
				<div class="d-flex flex-column align-items-center pa mb-4">
					<img src="https://avatars.githubusercontent.com/u/20004939?v=4&size=512" alt="User Avatar" class="rounded-circle" width="100" height="100">
					<small>Software Engineer</small>
				</div>

				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="/" th:if="${blogPost != null}">← Go Back</a>
					</li>
					<th:block th:each="blogPost: ${blogPosts}">
						<li class="nav-item">
							<a class="nav-link" th:href="${blogPost.url}" th:text="${blogPost.title}">Blog Link</a>
						</li>
					</th:block>
				</ul>
			</div>
		</div>
	</body>
</html>