<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html
	lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/MainLayout}">

<head>
	<title layout:title="Admin">Michael Bailey</title>
</head>

<body>

<div layout:fragment="content">
	<div class="main-content w-100">
		<div class="container-fluid">
			<article>
				<h1 th:text="${blogPost.title}">Blog Title</h1>
				<p class="text-muted" th:text="${blogPost.date}">2025-01-01</p>
				<div th:utext="${blogPost.content}">
					<p>Blog content goes here...</p>
				</div>
			</article>
		</div>
	</div>
</div>

</body>
</html>



