<!DOCTYPE html>
<html
  lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/MainLayout}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<div layout:fragment="content">

<div class="row m-0 ps-sm-2 p-lg-5">
	<div class="pt-3 border-top">
		<h3 class="display-7">Gym Log Book</h3>
		<h4 class="h6 mt-2">
			<a
				href="https://github.com/michael-bailey/gym-log-book"
				class="text-decoration-none text-secondary">
				https://github.com/michael-bailey/gym-log-book
			</a>
		</h4>
		<div>
			<!--						<img src="img/gym_home.png" style="float: right; width: 20%; max-height: 100%; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px" alt="">-->
			<img
				class="mx-4 mb-4" src="/img/gym_shortcuts.png"
				style="float: right; width: 20%; max-width: 150px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px"
				alt="">
			<p>Gym Log Book is a full native Android app I built to help log my
				strength training progress. It features structured navigation,
				local data persistence, with plans to display graphs and support
				more exercise types.</p>
			<p>
				When I started at the gym, I wanted a way of logging my progress.
				Whist I found lots of apps that could help with this, I found most
				of them to have complex functionality, or requirements i wasnt
				ready to commit to at the time.</p>
			<p>
				So I set up my own system for logging my progress. This
				started with using apples shortcuts app, and Apples numbers app,
				to create
				simple actions and spreadsheet system for logging my progress.
				This worked fine for a while, I could create graphs and charts
				easily, that updated automatically;
				I added rest timers to the shortcuts, and set them up to guided me
				through sets to completion,
				making sure I didn't forget how many sets I had done. But it
				wasn't as good as a dedicated app.
				So alongside the fact iOS doesn't allow me to create my own
				applications, due to Apples policy;
				And the fact that I have and android as a daily driver.
				I knew i needed to create a dedicated application for me to
				use.</p>
			<p>
				So to start I found creating andorid applications daunting,
				having had previous experience with XMl views before the release of Android Jetpack libraries and conventions.
				However, I had heard of Jetpack compose, as a form of "React.js" for kotlin and Android.
				At this point in time I had been using react.js during an apprenticeship and full time work.
				So hearing of a declarative UI framework, with UI components for fitting in with Material UI, I found fascinating and appealing.
				So I decided to use this as a foundation.
			</p>
			<img
				class="mx-4 mb-4" src="/img/gym_list.png"
				style="float: left; width: 20%; max-width: 150px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px"
				alt="">
			<p>
				Now in the beginning of this project I wasn't familiar with Android development when it comes to full-fledged applications.
				having used XML previously, I had avoided native android development for a while, focusing more on web apps.
				So architecting and application was new to me, especially when implementing persistence.
				My idea was I wanted the file format to be transferable, adn created my own wrappers around CSV files for each table.
				A sort of CSV based database, without any of the benefits of a database, funnily enough.
				the abstractions I created and used, did serve their purpose. But modifying the data schema was... a pain more than anything.
				making sure columns matched up with the data classes I had defined, required many manual backups, and data loss scares,
				that I knew I had to use an actual database for this project.
			</p>
			<p>
				Learning about the Jetpack libraries, was a boon to say the least.
				Each one solving a specific part of android development I had found tedious or poorly explained as a first timer, dipping their toes into android development.
				And among those libraries lived Room Database. a local Sqlite based ORM for data persistence.
			</p>
			<p>
				Most of my exposure to databases was behind an ORM, with the occasional SQL query to query Big data, find issues, and debug code.
				So Room helped me a lot by making database calls easier to create, without abstracting all the SQL behind black box.
				Allowing me to progressively expand my understanding of SQL, whilst abstracting data mappings behind the scenes with a little compiler magic.
				It also had support for kotlin flows, which for me was the best answer to reactive programming and UI's I've found so far.
			</p>
			<img
				class="mx-4 mb-4" src="/img/gym_timer.png"
				style="float: right; width: 20%; max-width: 150px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px"
				alt="">
			<p>
				Finally, the last part of this apps architecture that made me truly enjoy android application architecting, was Hilt and Dagger.
				Hilt and Dagger are again, Android Jetpack libraries. These assist in handling dependency injection.
				Later into the development of this application, handling the lifecycle of objects was becoming difficult.
				Android frequently destroyed certain components like ViewModels and activities, whilst my app was still counting timers.
				And manually setting up properties and passing their references around was confusing and tricky.
			</p>

			<p>
				Enter Dagger and Hilt. This uses annotations and compile time processing, to automatically define dependency graphs between components.
				Allowing me to simply define injection points, and Hilt handles the rest. this allowed me to speed up creating new features, fixing lifecycle issues and optimising the flow of data, withing the app.
				As all configuration about where each component lives, is annotated on the class it allowed me to quickly change the app architecture, when required.
				Now ensuring lifecycles between dependencies matched was a new issues, but much easier to reason with and fix, compared to moving while object properties and factories.
			</p>
			<p>
				Overall, this app taught me the most about modern android development strategies, allowing me to experiment and explore ideas quickly and effectively.
				Like most pieces of software, this app I don't expect to ever be 'Done', as that is not it's goal.
				Its goal is twofold, to store my progress of going to the gym; and a sandbox for learning techniques and ideas.
			</p>

		</div>
	</div>
</div>

</div>
</html>