<!DOCTYPE html>
<html
	lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/MainLayout}">

<head>
	<title>Michael Bailey</title>
</head>
<div layout:fragment="content">
	<div class="row m-0 ps-sm-2 p-lg-5">
		<h1 class="display-3">Welcome</h1>
		<hr class="my-2">
		<p>Hi there, I'm Michael Bailey. I'm a software engineer by trade with a
			deep interest in user-focused, technology and engineering.
			I enjoy building tools to assist myself, and others, with my other
			hobbies and interests.</p>
		<p>This site is a place for me to share projects I'm working on, write
			about technologies I'm learning, and put into practice my
			learnings.</p>
	</div>


	<div class="content-split"></div>

	<div class="row m-0 ps-sm-2 p-lg-5">
		<h2 class="display-5 mb-3">Projects</h2>
		<p>Here’s a selection of personal projects I’ve built or continue to
			work on. They aren’t meant to be a complete list, but each one solves
			a problem I’ve personally encountered or adds functionality I found
			missing on my own devices. I'll be writing up stories about some of the
			projects, detailing what i find to be the best things I learnt during the
			creation of the projects</p>

		<div class="pt-3 border-top">
			<h3 class="display-7">Gym Log Book</h3>
			<h4 class="h6 mt-2">
				<a
					href="https://github.com/michael-bailey/gym-log-book"
					class="text-decoration-none text-secondary">
					https://github.com/michael-bailey/gym-log-book
				</a>
			</h4>
			<div>
				<!--						<img src="img/gym_home.png" style="float: right; width: 20%; max-height: 100%; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px" alt="">-->
				<img
					class="mx-4 mb-4" src="img/gym_list.png"
					style="float: right; width: 20%; max-width: 150px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px"
					alt="">
				<p>Gym Log Book is a full native Android app I built to help log my
					strength training progress. It features structured navigation,
					local data persistence, with plans to display graphs and support
					more exercise types.</p>
				<p>
					When I started at the gym, I wanted a way of logging my progress.
					Whist I found lots of apps that could help with this, I found most
					of them to have complex functionality, or had lacking UX.
					So I decided to create my own app.
				</p>
				<p>
					After starting with some Apple shortcuts, I got the basic idea of what
					I wanted to include.
					Settings for free weights, or machines; Auto complete for sets; a list
					and possibly graphs for progress.
					All of which expanded my knowledge of Android app development.
				</p>
			</div>
		</div>

		<div class="pt-3 border-top">
			<h3 class="display-7">Compass</h3>
			<h4 class="h6 mt-2">
				<a
					href="https://github.com/michael-bailey/Compass"
					class="text-decoration-none text-secondary">https://github.com/michael-bailey/Compass</a>
			</h4>
			<img
				src="img/Compass_Android.png" class="mx-4 mb-4"
				style="float: right; width: 20%; max-width: 150px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); border-radius: 10px"
				alt="">
			<p>Compass is a simple Android app that shows the user's direction
				using the device's built-in sensors. It follows the Material 3
				design system for a clean and modern look.</p>
			<p>I made this app because I wanted a quick and easy way to access a
				compass without opening Google Maps. It’s meant to be lightweight
				and simple, with a clear interface that does one thing well.</p>
			<p>This project allowed me to explore lower-level drawing APIs in
				Jetpack Compose, handle real-time sensor data from the magnetometer
				and accelerometer, and apply linear algebra concepts to determine
				accurate device orientation.</p>
			<p>Overall, building a compass app was a great project. It allowed me to
				use low level
				Android features, like the accelerometer, and magnetometer. How they can
				link in with more UI oriented constructs</p>
		</div>

		<!--				<div class="pt-3 border-top">-->
		<!--					<h3 class="display-7">Chat Kit</h3>-->
		<!--					<h4 class="h6 mt-2">-->
		<!--						<a href="https://github.com/michael-bailey/Compass" class="text-decoration-none text-secondary">https://github.com/michael-bailey/Compass</a>-->
		<!--					</h4>-->
		<!--					<p>A minimal chat UI framework designed to be easily integrated into-->
		<!--						web and mobile apps, supporting rich messages and theming.</p>-->
		<!--				</div>-->

	</div>


	<div class="content-split"></div>

</div>
</html>