<!DOCTYPE html>
<html
	lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/MainLayout}">

<head>
	<title>Michael Bailey</title>
</head>
<div layout:fragment="content">

	<div class="jumbotron">
		<h1 class="display-4">Michael Bailey</h1>
		<p class="lead">Welcome to my Personal Website</p>
		<hr class="my-4">
		<p>Blog articles are listed in the sidebar and can be read directly from this page.</p>
		<p>Content is written in Markdown and rendered dynamically.</p>
	</div>

</div>
</html>