<!DOCTYPE html>
<html
	lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/MainLayout}">

<head>
	<title layout:title="Admin">Michael Bailey</title>
</head>

<body>

<div layout:fragment="content">
	<div class="main-content w-100 d-flex flex-column">
		<div class="container-fluid flex-grow-1">
			<div class="jumbotron">
				<h1 class="display-4">Michael Bailey</h1>
				<p class="lead">Welcome to my Personal Website</p>
				<hr class="my-4">
				<p>Blog articles are listed in the sidebar and can be read directly from this page.</p>
				<p>Content is written in Markdown and rendered dynamically.</p>
			</div>
		</div>
	</div>
</div>


</body>

</html>